.post[post]
  .select= check_box_tag 'posts[]', post.id, false, {:id => nil}
  .content{:id => dom_id(post, :content)}
    %h6= link_to post.title, ''
    .meta
      Posted by
      = mail_to(post.user_email, post.user_full_name)
      = time_ago_in_words(post.created_at)
      ago.
    .text{:style => 'display: none'}
      = simple_format post.content
      = link_to 'edit', edit_admin_area_post_path(@area, post), :class => 'ajax-button', :remote => true
  .status
    = link_to '', toggle_reviewed_by_admin_area_post_path(@area, post), :id => dom_id(post, :status), :remote => true, :method => :post, :class => (post.reviewed? ? 'reviewed ajax-button' : 'unreviewed ajax-button')
    = link_to 'delete', admin_area_post_path(@area, post), :method => :delete, :confirm => 'Area you sure you want to delete this post?', :remote => true
