- content_for :head do
  = javascript_include_tag 'issue_edit'
  
.columns.half
  = render :partial => 'admin/areas/nav'
  
  %h2 Editing Issue ##{@issue.number}

  .left_column
    .posts#new_posts
      .header
        .select= check_box_tag "select_all", nil, false, { :id => nil }
        .text New Messages
      = render :partial => 'post', :collection => @new_posts
    = submit_tag 'Add', :id => 'add_posts', :class => 'move_posts', :style => @new_posts.size.zero?? 'display:none' : nil

  .right_column
    .posts#issue_posts.sortable
      .header
        .select= check_box_tag 'select_all', nil, false, { :id => nil }
        .text Prepared Messages
      = render :partial => 'post', :collection => @issue_posts
    = submit_tag 'Remove', :id => 'remove_posts', :class => 'move_posts', :style => @issue_posts.size.zero?? 'display:none' : nil

.columns.half
  .left_column
  .right_column
    %h3 Publishing
    = formatted_form_for @issue, :url => admin_area_issue_path(@area) do |f|
      = f.datetime_select :scheduled_at, :label => 'Publish at'
      = f.submit 'Publish'
