= form_for @post, :url => admin_area_post_path(@area, @post), :remote => true do |f|
  = f.text_field :title
  = f.text_area :content
  = f.submit 'Save'
  or
  = link_to('cancel', admin_area_post_path(@area, @post), :remote => true, :class => 'ajax-button')