= render :partial => 'layouts/account_nav'

.columns
  .left_column
    %h2
      = @area.name
      Forum Archive  
    %h3 No. #{@issue.number} &ndash; #{@issue.sent_at.to_date.to_s(:long)}

    .pagination
      - if @prev_issue.present?
        = link_to "&laquo; Issue No. #{@prev_issue.number}".html_safe, area_issue_path(@area, @prev_issue)
      - if @next_issue.present?
        = link_to "Issue No. #{@next_issue.number} &raquo;".html_safe, area_issue_path(@area, @next_issue)

    %ul.list
      = render :partial => 'areas/posts/post', :collection => @issue.posts.order(:position)

  .right_column
    = render :partial => 'areas/posts/posts_search_form', :locals => {:advanced => true}

    = @area.openx_ad(:current_issue)