= content_for :head do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  = javascript_include_tag 'google_maps'
    

= content_for :doc_ready do
  initialize(document.getElementById("map_canvas"), #{@user.lat}, #{@user.lng});
  add_region(#{@area.id}, [#{@area.border_coordinates}], 'selected')
  
  
= f.text_field :first_name
= f.text_field :last_name
= f.text_field :email
= f.password_field :password, :autocomplete => :off
= f.password_field :password_confirmation

#map_canvas{:style => 'width:300px; height:300px'}

