= render :partial => 'layouts/account_nav'

.columns
  .left_column
    %h2 Edit your details
    = formatted_form_for @user, :url => user_path do |f|
      = render :partial => 'form', :locals => {:f => f}
      = f.submit 'Save', :cancel_url => link_to('cancel', user_path(@user))
  .right_column
    .delete_account
      = link_to 'Click here if you wish to delete your account.', user_path, :method => :delete, :confirm => "Are you sure you want to delete your account? This action is irreversible."