= render(:partial => 'layouts/flash_message')

= formatted_form_for @address, :url => registrations_path do |f|
  = f.text_field :address
  = f.text_field :city
  = f.select :state, grouped_options_for_select([['Canada', CANADA_PROVINCES], ['United States', US_STATES]], @address.state), :label => 'State/Province', :include_blank => true
  = f.submit 'Sign Up'