= content_for :head do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  = javascript_include_tag 'google_maps'


= content_for :doc_ready do
  initialize(document.getElementById("map_canvas"), #{@address.lat}, #{@address.lng});
  center_marker = add_marker(#{@address.lat}, #{@address.lng}, '#{@address.full}');
  add_region(#{@selected_area.id}, [#{@selected_area.border_coordinates}], 'selected')
  - @areas.each do |area|
    add_region(#{area.id}, [#{area.border_coordinates}])

.tabbed
  %ul.tabs
    %li.active 1. Confirm neighborhood
    %li 2. Account details
    %li 3. Sign up complete
  .clear.whitebox.padded
    .left
      %h2 Confirm your neighborhood
      %h3
        = @address.full
        %br/
        is currently in 
        %strong= @selected_area.name
      %ul.list
        - ([@selected_area]+@areas).each_with_index do |area, i|
          %li{:id => dom_id(area)}
            .name #{i+1}) #{area.name}
            .action
              = link_to 'View info', ''
              |
              = link_to_function 'Select this one', "$('#user_area_id').val(#{area.id})"

      = form_for @user, :url => new_user_path, :html => {:method => :get} do |f|
        = f.hidden_field :address
        = f.hidden_field :city
        = f.hidden_field :state
        = f.hidden_field :lat
        = f.hidden_field :lng
        = f.fields_for :memberships do |membership|
          = membership.select :area_id, ([@selected_area]+@areas).collect{|a| [a.name, a.id]}
        = f.submit 'Next step'
        or
        = link_to('Previous', :back)

    .right        
      #map_canvas{:style => 'width:400px; height:400px'}