.intro
  %h1 <em>Open</em>Porch #{OPEN_PORCH_VERSION}
  %p Updated March 10, 2011
  %h3 <em>Open Porch</em> is a <strong>community-building tool for neighborhoods.</strong>  People who are well connected to their neighbors and plugged into local conversation are typically more interested in local news and more civically engaged.
  
  %h5= link_to "Download OpenPorch #{OPEN_PORCH_VERSION}", 'https://github.com/FrontPorchForum/open_porch'
  %h5= link_to 'View Documentation', 'https://github.com/FrontPorchForum/open_porch'

  %p &nbsp;
  %p 
    Open Porch was created by 2010 
    = link_to 'Knight News Challenge', 'http://www.newschallenge.org'
    winner 
    = link_to 'Front Porch Forum', 'http://frontporchforum.com' 
    thanks to support from the 
    = link_to 'John S. and James L. Knight Foundation', 'http://www.knightfoundation.org'
    \.  The software was built by 
    = link_to 'The Working Group, Inc', 'http://www.theworkinggroup.ca'
    \.  
  %p Open Porch design is based on experienced gained by operating the successful Front Porch Forum pilot project in Burlington, Vermont, USA.

.columns
  %h3.join
    %em Join your neighbourhood forum
  
  %h2 Demo
  = render :partial => 'address_form'
  %p
    Already have an account?
    = link_to 'Login', login_path
