- advanced ||= false

= formatted_form_for @search, :url => [@area, :posts], :html => {:method => :get} do |f|
  = f.text_field :title_or_content_contains, :label => "<h3>Search the archive</h3>"
  - if advanced
    = f.text_field :created_at_greater_than_or_equal_to, :label => 'Between', :type => :date
    = f.text_field :created_at_less_than_or_equal_to, :label => 'And', :type => :date
  = f.submit :search