%h1 Enter a new Password

= formatted_form_for @user, :url => { :action => :update, :id => params[:id] } do |form|
  = form.error_messages
  = form.password_field :password, :autocomplete => :off
  = form.password_field :password_confirmation, :label => 'Password Confim'
  = form.submit 'Update'
