= f.text_field :name
= f.text_field :slug
= f.text_area :description
= f.text_field :city
= f.text_field :state
= f.text_field :households
= f.select :send_mode, Area::SEND_MODES
= f.submit 'Save', :cancel_url => link_to('cancel', admin_areas_path)