%ul.sub_nav
  %li
    %h3
      = @area.name
      in
      = @area.location
  - if @area.current_issue
    %li= active_link_to 'Current issue', [:edit, :admin, @area, @area.current_issue], :active => { :when => /admin\/areas\/\d*\/issues\/\d*\/edit/  }
  %li= active_link_to 'Issues', [:admin, @area, :issues], :active => { :when => :self_only }
  %li= active_link_to 'Memberships', [:admin, @area, :memberships]
  %li= active_link_to 'Edit borders', [:edit_borders, :admin, @area]
  %li= active_link_to 'Edit details', [:edit, :admin, @area], :active => { :when => :self_only }
