.columns
  = content_for :head do
    = javascript_include_tag "http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"
    = javascript_include_tag 'region_editor'

  :javascript
    $(document).ready(function() {
      $('#map_canvas').RegionEditor({
        create_url: '#{admin_areas_path}',
        update_url: '#{bulk_update_admin_areas_path}',
        regions: #{@areas.collect(&:to_a).to_json}, 
        selected_region_id: #{@selected_area.present? ? @selected_area.id : 'null'},
        center: {
          lat: #{@selected_area.present? ? @selected_area.center.x : @default_area.center.x}, 
          lng: #{@selected_area.present? ? @selected_area.center.y : @default_area.center.y}
        },
        bounds: #{@selected_area.present? ? @selected_area.bounds.to_json : @default_area.bounds.to_json}
      });
    });
  - if @area.present?
    = render :partial => 'admin/areas/nav'

  #map_canvas
    .region_details

  %h3 Manage regions:
  %p 
    %strong 1. Click on a region to select it
    %br/
    %strong 2. Drag the markers to change the shape of a region
    %br/
    %strong 3. To add a new point to a region: 
    Right click on the map to add a new point to the selected region
    %br/
    %strong 4. To delete a point from a region:
    SHIFT + Click on a marker to delete it
  
  %h3 Create new regions:
  %p 
    %strong 1. Click the 'New region' button
    %br/
    %strong 2. Click on the map to add points to the region
    %br/
    %strong 3. When you're done close the region by clicking on the first marker