.columns
  = content_for :head do
    = javascript_include_tag "http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"
    = javascript_include_tag 'region_editor'

    :javascript
      $(document).ready(function() {
        $('#map_canvas').RegionEditor({
          update_url: '#{bulk_update_admin_areas_path}',
          form_authenticity_token: '#{form_authenticity_token}',
          map_style: 'width:100%;height:500px', 
          center: {
            lat: #{@areas.first.center.x}, 
            lng: #{@areas.first.center.y}
          }, 
          regions: #{@areas.collect(&:to_a).to_json.html_safe}, 
          selected_region_id: #{@areas.first.id}
        });
      });


  #map_canvas
    .region_details

  %h3 Usage:
  %p 
    %strong 1. Click on a region to select it
    %br/
    %strong 2. Drag the markers to change the shape of a region
    %br/
    %strong 3. To add a new point to a region: 
    Right click on the map (outside of a region) to add a new point to the selected region
    %br/
    %strong 4. To delete a point from a region:
    Right click on a marker to delete it
  