.columns
  %h2 Areas
  :javascript

    $(document).ready(function() {
      draw_chart({
        months : #{['mon', 'tue', 'wed', 'thu'].to_json}, 
        series : [
          {
            name: 'New Users',
            data : #{[8,6,4,2].to_json}
          }, 
          {
            name: 'Quitters',
            data : #{[4,3,2,1].to_json}
          },
          {
            name: 'New Posts',
            data : #{[1,2,3,4].to_json}
          },
          {
            name: 'Issues Published',
            data : #{[2,4,6,8].to_json}
          }
        ]
      });
    })   
  #chart-container{:style=>"width: 100%; height: 400px"}
  
  = will_paginate @areas
  
  = form_for @search, :url => [:admin, :areas], :html => {:method => :get} do |f|
    = f.label :name_or_city_or_state_contains, 'Find by name'
    = f.text_field :name_or_city_or_state_contains, :style => 'width: 150px'
    = f.submit 'Find'
  
  %table
    %tr
      %th= sort_link @search, :name
      %th= sort_link @search, :city
      %th.center= sort_link @search, :memberships_count, 'Users'
      %th.center= sort_link @search, :households
      %th.center Send mode
      %th.center= sort_link @search, :issues_count, 'Issues'
      %th.center New posts
      
    - @areas.each do |area|
      %tr{:class => @new_posts[area.id] && @new_posts[area.id] > 0 ? 'important' : ''}
        %td= link_to area.name, [:edit_borders, :admin, area]
        %td= area.location
        %td.center= link_to area.memberships_count.to_i, [:admin, area, :memberships]
        %td.center= area.households.to_i
        %td.center= area.send_mode_name
        %td.center= link_to area.issues_count.to_i, [:admin, area, :issues]
        %td.center= link_to @new_posts[area.id].to_s, [:admin, area]
  
  = will_paginate @areas
  