.columns
  %h2 Areas
  %table
    %tr
      %th= sort_link @search, :name
      %th= sort_link @search, :city, 'Location'
      %th= sort_link @search, :memberships_count, 'Users'
      %th= sort_link @search, :households
      %th= sort_link @search, :issues_count, 'Issues'

    - @areas.each do |area|
      %tr
        %td
          - if !area.published?
            %em [draft]
          = link_to area.name, [:admin, area]
        %td= area.location
        %td= area.memberships_count
        %td= area.households
        %td= area.issues_count
              