.columns
  %h2 Areas
  %ul.list
    - @areas.each do |area|
      %li
        %h4
          - if !area.published?
            %em [draft]
          = link_to area.name, [:edit, :admin, area]
          - if area.city.present?
            in #{area.city}
          - if area.state.present?
            , #{area.state}
        .action
          = link_to 'edit borders', [:edit_borders, :admin, area]
          |
          = link_to 'delete', admin_area_path(area), :method => :delete, :confirm => 'Are you sure you want to delete this area?'
          |
          = link_to "view users (#{area.memberships_count})", admin_area_memberships_path(area)
          | 
          Households: #{area.households}
          | 
          Issues: #{area.issues_count}
          - if last_issue = area.issues.last_sent.first
            | 
            Last issue sent on: #{last_issue.sent_at}
        