= render :partial => 'layouts/account_nav'

.columns
  .left_column
    %h1= @area.name
    .stats
      %h3 #{@area.city}, #{@area.state} &bull; Forum started <strong>#{@area.created_at.to_date.to_s(:long)}</strong>
      %h3 Neighborhood forum members: <strong>#{@area.memberships.count}</strong>
      %h3 Approx. households within boundary: <strong>#{@area.households}</strong>
    
    - unless logged_in?
      %h3 
        Only registered members can read and participate in
        %br/
        this neighbourhood forum. Are you a member?

      = formatted_form_for @session_user, :url => login_path do |f|
        = f.text_field :email, :label => 'Email address'
        = f.password_field :password
        = f.check_box :remember_me, :label => 'Remember me when I come back'
        = f.submit 'Log In'

  - if @area.border.present?
    .right_column      
      = render :partial => 'area/posts/posts_search_form'
      
      = content_for :head do
        = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
        = javascript_include_tag 'google_maps'

      = content_for :doc_ready do
        initialize_gmap(document.getElementById("map_canvas"), #{@area.center.x}, #{@area.center.y}, {}, #{@area.bounds.to_json});
        add_region(#{@area.id}, [#{@area.border_coordinates}], 'selected')
      #map_canvas{:style => 'width:280px; height:400px'}
      
      