.tabbed
  = render :partial => 'layouts/account_nav'
  .clear.whitebox.padded
    .left
      %h2 Post a message
      %h3 to the #{@area.name} Neighborhood Forum
      = formatted_form_for @post, :url => area_posts_path(@area) do |f|
        = f.text_field :title
        = f.text_area :content
        = f.submit 'Post Message'
    .right