%h3 Contact Information
= f.text_field :first_name
= f.text_field :last_name
= f.text_field :email
%br
%h3 Address
= f.text_field :address
= f.text_field :city
= f.select :state, grouped_options_for_select([['Canada', CANADA_PROVINCES], ['United States', US_STATES]], @user.state), :label => 'State/Province', :include_blank => true
%br
%h3 Credentials
= f.password_field :password, :autocomplete => :off, :desc => 'Leave empty unless you want to change the password'
= f.password_field :password_confirmation
= f.select :role, User.roles_for_select
%br
%h3 Membership
= f.fields_for :memberships do |membership_form|
  = membership_form.select :area_id, Area.for_select
%br

= f.submit 'Save', :cancel_url => link_to('cancel', @return_url)