.columns
  .header
    %h2 Users
    = formatted_form_for @search, :url => [:admin, :users], :html => {:method => :get, :class => 'admin_search'} do |f|
      = f.text_field :email_or_name_or_address_search, :label => 'Search'
      = f.select :role_equals, User.roles_for_select, :include_blank => 'All Roles', :label => '&nbsp;'
      = f.submit 'Find'
  
    %h5= link_to 'Add new user', new_admin_user_path
  
  = will_paginate @users

  %table
    %tr
      %th= sort_link @search, :last_name_and_first_name, 'Name'
      %th Email
      %th= sort_link @search, :role
      %th= sort_link @search, :created_at
      %th
      
    - @users.each do |user|
      %tr
        %td= link_to user.full_name, [:edit, :admin, user]
        %td= user.email
        %td= user.role.humanize
        %td= user.created_at.to_date.to_s(:long)
        %td.action_link
          = link_to 'delete', admin_user_path(user), :method => :delete, :confirm => 'Are you sure you want to delete this user?'
          
          
  = will_paginate @users
