- if logged_in?
  %ul.tabs
    - unless current_user.areas.empty?
      %li{:class => active_class(area_path(current_user.areas.first), :when => :self_only ) }
        = link_to 'Your Neighborhood Forum', area_path(current_user.areas.first)
      %li{:class => active_class(area_current_issue_path(current_user.areas.first), :when => :self_only ) }
        = link_to 'Current Issue', area_current_issue_path(current_user.areas.first)
      %li{:class => active_class(area_issues_path(current_user.areas.first), :when => /areas\/\d+\/issues|areas\/\d+\/posts\?/ ) }
        = link_to 'Archive', area_issues_path(current_user.areas.first)
      %li{:class => active_class(new_area_post_path(current_user.areas.first),  :when => :self_only ) }
        = link_to 'Post a Message', new_area_post_path(current_user.areas.first)

    %li{:class => active_class(user_path)}
      = link_to 'Your Profile', user_path
    %li.right= link_to 'logout', logout_path
    - if current_user.is_admin?
      %li.right= link_to  'admin', admin_path