%title Open Porch
= stylesheet_link_tag 'reset', 'structure', 'typography', 'common', 'content', 'jquery-ui'
= javascript_include_tag 'jquery', 'rails', 'jquery-ui.min', 'application'
= csrf_meta_tag

- if (content_for?(:doc_ready))
  :javascript
    $(document).ready(function() {
      #{yield(:doc_ready)}
    });
    
- if (content_for?(:js))
  :javascript
    #{yield(:js)}
    
= yield(:head)
