!!! html
%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html;charset=utf-8"}/
    = render(:partial => 'layouts/head')

  %body{:class => "#{params[:controller].underscore}_#{params[:action]}".idify}
    .wrapper
      = render(:partial => 'layouts/header')

      .main_content
        = render(:partial => 'layouts/flash_message')
        = yield
  
      = render(:partial => 'layouts/footer')
